[submodule "mqtt"]
	path = mqtt
	url = https://github.com/tuanpmt/esp_mqtt/
[submodule "jsmn"]
	path = jsmn
	url = https://github.com/zserge/jsmn
[submodule "tools"]
	path = tools
	url = https://github.com/themadinventor/esptool
